@charset "UTF-8";
/*CSS Document*/

h2 {
	font-size: 36px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abolition', sans-serif;
	color: #136a81;
}

h3 {
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Abolition', sans-serif; 
	color: #136a81;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #136a81;
}

img {
	max-width: 100%;
}

.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	max-width: 960px;
	min-width: 320px;
	/*set top margin to avoid content overlay*/
	margin-top: 81px;
	margin-left: auto;
	margin-right: auto;
}

/*  === BUTTONS === */

.btnCon {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btnSmall {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 15px;
	font-family: 'Abolition', sans-serif;
	color: #fff;
}

.btnLarge {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 25px;
	font-family: 'Abolition', sans-serif;
	color: #fff;
	/*font-weight: bold;*/
}

.dark {
	background-color: #94a401;
	color: #fff;
}

.light {
	background-color: #136a81;
	color: #fff;
}

#btnJoin {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	width: 150px;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Abolition', sans-serif;
	/*font-weight: bold;*/
	background-color: #94a401;
	color: #fff;
}

.btnDonate {
	margin-bottom: 20px;
}

.subBut {
	margin-left: 2px;
	background-color: #136a81;
	color: #fff;
	height: 47px;
	width: 47px;
	border-radius: 0px 20px 20px 0px ;
}

#actionBtns {
	padding: 35px 0px;
}

#actionBtns a:nth-child(3) {
	margin: 20px 0px;
}

.btnLarge:active, .btnSmall:active, #btnJoin:active, .btnTopBg:active, .subBut:active{
	transition: ease;
	box-shadow: 0px 3px 4px 0px rgba(31, 29, 30, 0.35);
	cursor: pointer;
}

.downArrow {
	width: 50px;
	height: 50px;
	background-image : url(../images/arrow_down.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: 80%;
}

/*Swing Button*/

@-webkit-keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.swing:active
{
        -webkit-animation: swing .3s ease;
        animation: swing .3s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}


/* === HEADER === */

#mainHeaderCon {
	/* remember: fixed takes items out of normal flow*/
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	box-sizing: border-box;
	/*puts header above hero*/
	z-index: 2;
	transition: top 0.3s;
	border-bottom: 1px solid #ccc;

/*	flex: 1 1 auto;*/
	/* makes nav stretch and grow like a flex*/
	top: 0;
	left: 0;
	right: 0;
}

#headerLogo {
	width: 64px;
}

/* Social Media */

#headerSocialMedia {
	display: none;
}


/* Main Navigation */

.hamburger {
	font-size: 40px;
	color: #136a81;
	transition: all .2s ease-in-out;
}

.hamburger.expanded {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#mainNav {
	display: none;
}

#mainNav.slideToggle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	height: 100vh;
	width: 50%;
	top: 81px;
	padding: 50px;
	right: 0;
	background-color: #fff;
}

#mainNav.slideToggle ul li {
	margin-bottom: 55px;
}

#mainNav.slideToggle a {
	text-decoration: none;
	font-size: 27px;
	font-family: Abolition, sans-serif;
	color: #136a81;
	transition: all ease;
}

#mainNav.slideToggle a:active {
	color: #94a401;
}

.navOverlay {
	background-color: #136a81;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -70%;
	right: 0;
	z-index: -1;
	opacity: 0.5;

}


/* === HERO CLASS === */

.hero {
	max-width: 960px;
	height: 408px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: linear-gradient(rgba(152, 226, 244, 0.2), rgba(152, 226, 244, 0.5)), url(../images/projects_hero.jpg);
}

.heroImage {
	position: absolute;
	top: 0;
	left: 0;
}

/*.heroOverlay {
	width: 960px;
	height: 408px;
	position: absolute;
	background-color: rgba(152, 226, 244, 0.29);
}*/

.hero h2 {
	font-size: 48px;
	color: #fff;
	position: absolute;
}

/* === PROJECTS PAGE === */

#donateBanner {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #136a81;
	padding: 40px;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

#donateBanner p {
	font-size: 24px;
/*	text-transform: uppercase;*/
	color: #fff;
	align-self: center;
	margin-top: auto;
	margin-bottom: 35px;
	text-align: center;
}

#projectArea {
	display: flex;
	flex-direction: column;
}

.projectRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 480px;
	height: 400px;
	flex: 1 1 300px;
}

.project h3 {
	color: #fff;
	text-align: center;
}

#projectHatchery {
	background: url(../images/projects_hatchery.jpg) no-repeat center;
}

#projectSalmonid {
	background: url(../images/projects_salmonid_monitoring.jpg) no-repeat center;
}

#projectKomoka {
	background: url(../images/projects_komoka_creek.jpg) no-repeat center;
}

#projectBrownTrout {
	background: url(../images/projects_brown_trout_hatchery.jpg) no-repeat center;
}

#projectBrownTrout button{
	margin-top: 20px;
}

#projectArchive {
	box-sizing: border-box;
	height: 200px;
	background-color: #136a81;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	position: relative;
	padding-bottom: 10px;
}

#projectArchive h2 {
	font-size: 48px;
	color: #fff;
	margin-bottom: 40px;
}

/* === MAIN FOOTER === */

#mainFooter {
	background-color: #0e4d5e;
	padding: 0px 10px 35px 10px;
}

#mainFooter h3 {
	font-size: 30px;
	margin: 35px 0px;
	color: #fff;
	text-align: center;
}

#mainFooterCon {
	display: flex;
	flex-direction: column;
}

/* Footer Navigation */

#mainFooterNav {
	order: -1;
	text-align: center;
	border-bottom: 3px solid #fff;
}

#mainFooter li {
	margin-bottom: 35px;
}

#mainFooterNav li a {
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-decoration: underline;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
}

/* Newsletter and Social Media Container */

#newsSocCon {
	display: flex;
	flex-direction: column;
	text-align: center;
	border-bottom: 3px solid #fff;
}

#newsletter p {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 15px;
	color: #ccc;
}

.text {
	height: 47px;
	width: 300px;
}

#name {
	padding-left: 5px;
	border-radius: 	20px 0px 0px 20px;
}

#mainFooterSocialNav ul {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
	justify-content: center;
}

#mainFooterSocialNav ul li {
	width: 40px;
	margin-right: 20px;
}

/* Contact Blurb */

#mainFooterContact {
	display: none;
}

/* Footer Logo */

#mainFooterJoin {
	display: none;
}

#mainFooterLogo {
	display: none;
}

/* Bottom Footer */

#mainFooterBottom {
	font-family: Lato, sans-serif;
	font-size: 14px;
	color: #ccc;
}

#mainFooterBottom ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
/*	background-color: tomato;*/
}

#mainFooterBottom ul li:first-child {
	order: 4;
}

/* reference items by order in HTML */

#mainFooterBottom ul li:nth-child(3),
#mainFooterBottom ul li:first-child {
	margin: 0px 15px;
}
 /* END MAIN FOOTER */


@media screen and (min-width: 480px) {
	.projectRow {
		flex-wrap: nowrap;
	}
}


/* === DESKTOP VERSION === */

@media screen and (min-width: 938px){

	#container {
		margin-top: 150px;
	}

	/* === BUTTONS === */

	.btnCon {
		display: flex;
		justify-content: center;
	}

	.btnSmall {
	height: 40px;
	width: 160px;
	margin: 10px;
	}

	.btnLarge {
	height: 60px;
	width: 150px;
	}

	.subBut {
	/* let icon define height*/
	height: 40px;
	width: 40px;
	}

	#actionBtns {
		display: none;
	}

	.btnDonate {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	}

	/* === HEADER === */

	#mainHeader {
		/*puts header above hero*/
		z-index: 2;
		transition: top 0.3s;
		width: 960px;
	}

	#mainHeaderCon {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 20px;
		background-color: #fff;
		box-sizing: border-box;
		width: 960px;

		/*resets coded values for mobile*/
		right: auto;
		left: auto;
	}

	#headerLogo {
		width: 122px;
		margin-right: 20px;
	}

	/* Social Media */

	#headerSocialMedia {
		display: block;
	}

	#headerSocialMedia ul {
		display: flex;
		flex-direction: row;
	/*	background-color: tomato;*/
	}

	#headerSocialMedia ul li{
		width: 24px;
		height: 24px;
		margin-left: 20px;
	}

	/* Main Navigation */

	.navOverlay {
		display: none;
	}

	.hamburger {
		display: none;
	}

	#mainNav {
		display: flex;
		margin-left: auto;
		margin-right: 20px;
	}

	#mainNav ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#mainNav ul li {
		display: inline;
	}

	#mainNav ul li:first-child {
		order: 3;
		color: #136a81;
	}

	#mainNav a {
		text-decoration: none;
		font-family: Abolition, sans-serif;
		color: #136a81;
		transition: all .5s ease;
		font-size: 24px;
		padding: 20px 30px;
		border-radius: 40px;
	/*	background-color: skyblue;*/
	}

	#mainNav a:hover {
	/*	padding: 20px 30px;*/
		border-radius: 40px;
		color: #94a401;
	}

	#navJoin {
		color: #fff !important;
		background-color: #94a401 !important;
		margin-left: 20px;
	}

	#navJoin:hover {
		color: #fff !important;
		background-color: #136a81 !important;
	}

	/* sub nav beginning*/

	#dropdown {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		transition: top 0.3s;
	/*	background-color: tomato;*/
	}

	.subNav {
		margin-top: 20px;
	}

	.subNav ul li a{
		font-family: Abolition, sans-serif;
		font-size: 18px;
		color: #fff;
		background-color: #94a401;
		padding: 20px 50px;
	}

	#whoNav {
		display: none;
	}

	#whoNav ul{
		margin-left: 420px;
	}

	#whoNav.slideToggle {
	/*	transition: all .3s ease;*/
		display: block;
	}

	#workNav {
		display: none;
	}

	#workNav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-left: 540px;
		background-color: #94a401;
	}

	#workNav ul li {
		margin-bottom: 20px;
	}

	#workNav.slideToggle {
	/*	transition: all .3s ease;*/
		display: block;
	}

	/* === PROJECTS PAGE === */

	#donateBanner {
		flex-direction: row;
		justify-content: flex-start;
		background-color: #136a81;
		padding: 40px;
	}

	#donateBanner p {
		font-size: 24px;
	/*	text-transform: uppercase;*/
		color: #fff;
		align-self: center;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
	}

	#projectArea {
		display: flex;
		flex-direction: column;
	}

	.projectRow {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.project {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 480px;
		height: 400px;
	}

	.project:hover {
		/*put an overlay on top to only target background image*/
		opacity: 0.5;
	  	transition: .7s ease;
	}

	.project h3 {
		color: #fff;
		text-align: center;
	}

	#projectHatchery {
		background-image: url(../images/projects_hatchery.jpg);
	}

	#projectSalmonid {
		background-image: url(../images/projects_salmonid_monitoring.jpg);
	}

	#projectKomoka {
		background-image: url(../images/projects_komoka_creek.jpg);
	}

	#projectBrownTrout {
		background-image: url(../images/projects_brown_trout_hatchery.jpg);
	}

	#projectBrownTrout button{
		margin-top: 20px;
	}

	#projectArchive {
		box-sizing: border-box;
		height: 200px;
		background-color: #136a81;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		padding-bottom: 10px;
	}

	#projectArchive h2 {
		font-size: 48px;
		color: #fff;
		margin-bottom: 40px;
	}


	/* === MAIN FOOTER === */

	#mainFooterCon {
		display: flex;
		flex-direction: row;
	}

	#mainFooter {
		padding: 40px 60px;
	}

	#mainFooter h3 {
		font-size: 24px;
		margin-bottom: 15px;
		text-align: left;
	}

	#mainFooter p {
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
		color: #ccc;
	}

	/* Newsletter and Social Media Container */

	#newsSocCon {
		display: flex;
		flex-direction: column;
		max-width: 340px;
		text-align: left;
		border-bottom: none;
	}

	#newsletter p {
		line-height: 16px;
	}

	.text {
		height: 40px;
		max-width: 260px;
	}

	#mainFooterSocialNav ul {
		margin-top: 30px;
		justify-content: left;
	/*	background-color: tomato;*/
	}

	#mainFooterSocialNav ul li {
		/* let icon define height*/
		width: 40px;
		margin-right: 20px;
	}

	/* Contact Blurb */

	#mainFooterContact {
		display: block;
		max-width: 150px;
		margin-left: 20px; 
		margin-right: 20px;
	}

	#mainFooterContact p {
		line-height: 16px;
	}

	#mainFooterContact a {
		color: #fff;
		text-decoration: underline;
	}

	/* Footer Navigation */

	#mainFooterNav {
		border-bottom: none;
		border-right: 2px solid #ccc;
		margin-right: 40px;
		padding-right: 30px;
		order: 0;
	}

	#mainFooter li {
		margin-bottom: 5px;
	}

	#mainFooterNav li a {
		font-family: 'Lato', sans-serif;
		color: #fff;
		text-decoration: underline;
		font-size: 14px;
		line-height: 16px;
	}

	/* Footer Logo */

	#mainFooterJoin {
		display: flex;
		flex-direction: column;
	}

	#mainFooterLogo {
		display: block;
		width: 133px;
		background-color: #fff;
		padding: 8px;
	}


	/* Bottom Footer */

	#mainFooterBottom {
		font-family: Lato, sans-serif;
		margin-top: 80px;
		font-size: 14px;
		color: #ccc;
	}

	#mainFooterBottom ul li:nth-child(2), 
	#mainFooterBottom ul li:nth-child(3) {
		margin-right: 40px;
	}

	#mainFooterBottom ul li:first-child {
		margin-right: auto;
		order: 0;
	} /* END MAIN FOOTER */
}




